@import "tailwindcss";

@theme {
  --color-national-blue: #004c97;
  --color-growth-green: #28a745;
  --color-rwanda-yellow: #fad201;
}

@layer base {
  body {
    @apply bg-white text-gray-900 font-sans antialiased;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-100 rounded;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded hover:bg-gray-400 transition-colors;
  }
}
